@keyframes fill_menu {
	0% {border-radius: 0;}
	50% {border-radius: 100px;}
	100% {border-radius: 0;}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 100px 0 0;
	font-size: 14px;
	font-family: Arial;
}

img {
	max-width: 100%;
}

header {
	background-color: #000;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 999;
	overflow: hidden;
}

header .logo {
	margin: 5px 0;
	height: 60px;
}

header .left-menu {
	display: inline-block;
	height: 100%;
	margin: 0 50px;
	list-style: none;
	padding: 0;
	font-size: 0;
	text-transform: uppercase;
	vertical-align: top;
}

header .left-menu li {
	display: inline-block;
	height: 100%;
	font-size: 14px;
}

header .left-menu li a {
	display: block;
	height: 100%;
	line-height: 70px;
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}

header .right-menu {
	display: inline-block;
	height: 100%;
	list-style: none;
	padding: 0;
	font-size: 0;
	text-transform: uppercase;
	vertical-align: top;
	float: right;
}

header .right-menu li {
	display: inline-block;
	height: 100%;
	font-size: 14px;
	vertical-align: top;
}

header .right-menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
	margin: 24px 0;
}

header .right-menu li a.dropdown {
	position: relative;
	margin: 24px 15px;
	width: 60px;
}

header .right-menu li a.dropdown:after {
	content: '';
	border-top: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

header .right-menu li + li a {
	border-left: 1px solid #fff;
}

header .right-menu li a.dropdown + ul {
	display: none;
}

.small-container {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

section.steps {
	color: #D80358;
	text-align: center;
	padding: 30px 0;
	height: calc(100vh - 270px);
	overflow-y: auto;
}

section.steps .small-container > h1 {
	font-weight: normal;
	font-size: 30px;
	margin: 0 0 20px;
}

section.steps .small-container > ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

section.steps .small-container > ul li {
	display: inline-block;
	font-size: 16px;
	width: 33.33333%;
	vertical-align: top;
	position: relative;
}

section.steps .small-container > ul li + li:before {
	content: '....';
	position: absolute;
	top: 10px;
	right: calc(50% + 60px);
	color: #DBDBDB;
	font-size: 60px;
	padding: 0 7px;
	font-family: serif;
}

section.steps .small-container > ul li .pink-circle {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #D80358;
	background: -webkit-linear-gradient(left, #D70256 , #DF0867);
	background: -o-linear-gradient(right, #D70256, #DF0867);
	background: -moz-linear-gradient(right, #D70256, #DF0867);
	background: linear-gradient(to right, #D70256 , #DF0867);
	padding: 30px;
	margin: 0 auto 25px;
}

section.steps .small-container > ul li strong {
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
}

section.steps .small-container > ul li p {
	color: #B9B9B9;
	font-weight: bold;
	margin: 0;
}

section.options {
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: center;
	padding: 70px 0 30px;
}

section.options:before {
	content: '';
	width: 100%;
	padding-bottom: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #A00C58;
	border-radius: 50%;
	z-index: -1;
	transition: all .3s;
}

section.options h1 {
	font-size: 22px;
	margin: 0 0 20px;
}

section.options h1 img {
	display: none;
}

section.options ul {
	display: block;
	width: 600px;
	max-width: 80%;
	padding: 0;
	margin: 0 auto 20px;
	font-size: 0;
	list-style: none;
}

section.options ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: calc(25% - 30px);
	margin: 0 15px;
	position: relative;
	vertical-align: top;
}

section.options ul li > input[type="checkbox"] {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	cursor: pointer;
}

section.options ul li > input[type="checkbox"] + span {
	display: block;
	border-radius: 10px;
	padding: 10px;
	transition: all .3s;
	border: 2px solid transparent;
}

section.options ul li > input[type="checkbox"]:hover + span {
	background-color: rgba(0,0,0,.1);
}

section.options ul li > input[type="checkbox"]:checked + span {
	border: 2px solid #fff;
}

section.options ul li span .img-box {
	height: 100px;
	display: block;
	position: relative;
}

section.options ul li span .img-box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section.options ul li span .title {
	height: 50px;
	display: block;
	position: relative;
}

section.options ul li span .title span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section.options input[type="submit"] {
	background-color: #D30050;
	background: -webkit-linear-gradient(left, #D30050 , #E30A6F);
	background: -o-linear-gradient(right, #D30050, #E30A6F);
	background: -moz-linear-gradient(right, #D30050, #E30A6F);
	background: linear-gradient(to right, #D30050 , #E30A6F);
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	padding: 15px 50px;
	font-size: 16px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

section.options.sticky ul li > input[type="checkbox"] + span {
	background-color: rgba(0,0,0,.1);
}

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0 20px;
}

footer ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

footer ul li {
	display: inline-block;
	padding: 0 25px;
	position: relative;
}

footer ul li + li:before {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #D30050;
	position: absolute;
	top: calc(50% - 3px);
	left: -3px;
}

footer ul li a {
	text-decoration: none;
	color: #fff;
}

footer > h1 {
	margin: 0;
	padding: 30px 10px 40px;
	font-size: 16px;
}

footer > h1 .logo {
	height: 40px;
}

footer > h1 .logo + span {
	vertical-align: top;
	display: inline-block;
	margin: 16px 0 0;
}

footer ul.social li + li:before {
	display: none;
}

footer ul.social li {
	padding: 0 5px;
}

footer ul.social li a {
	width: 30px;
	display: block;
}

@media screen and (min-width: 600px) {
	section.options.sticky {
		padding: 10px 0;
		height: 170px;
		z-index: 999;
	}

	section.options.sticky:before {
		width: 100%;
		left: 0;
		border-radius: 0;
	}

	section.options.sticky h1 {
		margin-bottom: 10px;
	}

	section.options.sticky ul {
		display: inline-block;
		margin: 0;
		max-width: 100%;
		width: calc(100% - 260px);
		vertical-align: middle;
	}

	section.options.sticky ul li span .img-box {
		height: 60px;
	}

	section.options.sticky ul li span .img-box img {
		width: 40px;
	}

	section.options.sticky ul li span .title {
		height: 30px;
		font-size: 14px;
	}
}

@media screen and (max-width: 992px) {
	body {
		padding-top: 120px;
	}
	header {
		height: 120px;
	}
	header .logo {
		margin: 0;
		height: 50px;
	}
	header .left-menu {
		position: absolute;
		width: 100%;
		top: 80px;
		left: 0;
		padding: 5px 10px;
		margin: 0;
		height: auto;
	}
	header .left-menu:before {
		content: '';
		position: absolute;
		width: calc(100% - 20px);
		height: 1px;
		background-color: #fff;
		top: 0;
		left: 10px;
	}
	header .left-menu li {
		height: auto;
		min-width: 33.33333%;
		text-align: center;
	}
	header .left-menu li a {
		height: auto;
		line-height: 30px;
	}
	header .right-menu,
	header .right-menu li {
		height: auto;
	}
	header .right-menu li a.dropdown {
		margin: 24px 0;
		width: 55px;
	}
	section.steps {
		height: calc(100vh - 290px);
	}
}

@media screen and (max-width: 600px) {
	body {
		padding-bottom: 60px;
	}
	header .left-menu {
		white-space: nowrap;
		overflow-x: auto;
	}
	header .left-menu li {
		font-size: 12px;
	}
	header .right-menu li a {
		padding: 0 5px;
		font-size: 12px;
		width: 65px;
	}
	header .right-menu li a.dropdown {
		width: 50px;
	}
	header .right-menu li + li a {
		border: none;
	}
	section.steps {
		height: auto;
	}
	section.steps .small-container > ul li {
		width: 50%;
		margin-bottom: 20px;
	}
	section.steps .small-container > ul li p {
		padding: 0 20px;
	}
	section.steps .small-container > ul li + li:before {
		display: none;
	}
	section.options {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px 0;
		height: 60px;
		z-index: 999;
		background-color: transparent;
		transition: height .3s, .3s background-color .3s;
	}
	section.options:before {
		width: 100%;
		padding-bottom: 100%;
		left: 0;
		border-radius: 0;
		min-height: calc(100vh - 120px);
	}
	section.options h1 {
		font-size: 22px;
		margin: 0 0 20px;
		text-align: left;
		padding: 0 20px;
		cursor: pointer;
	}
	section.options h1 img {
		display: inline-block;
		width: 20px;
		float: right;
		margin: 8px 0;
		transition: all .3s;
	}
	section.options.open h1 img {
		transform: rotate(.5turn);
	}
	section.options.open {
		height: 100vh;
		overflow-y: auto;
		background-color: #A00C58;
	}
	section.options.open:before {
		animation: fill_menu linear .3s;
		min-height: 100%;
		padding-bottom: 0;
	}
	section.options ul {
		width: 100%;
		margin-bottom: 0;
	}
	section.options ul li {
		width: calc(50% - 30px);
		margin-bottom: 30px;
	}
	section.options input[type="submit"] {
		padding: 20px 50px;
		font-size: 18px;
		width: calc(80% - 30px);
	}
	section.options ul li > input[type="checkbox"] + span {
		background-color: rgba(0,0,0,.1);
	}
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	body {
		padding-bottom: 50px;
	}
	header .right-menu li a {
		width: auto;
	}
	section.steps {
		min-height: calc(100vh - 180px);
		padding: 15px 0;
	}
	.small-container {
		width: 100%;
	}
	section.steps .small-container > h1 {
		font-size: 20px;
		margin: 0 0 5px;
	}
	section.steps .small-container > ul li {
		width: 33.33333%;
	}
	section.steps .small-container > ul li .pink-circle {
		width: 80px;
		height: 80px;
		padding: 20px;
		margin: 0 auto 10px;
	}
	section.steps .small-container > ul li strong {
		margin-bottom: 5px;
	}
	section.steps .small-container > ul li + li:before {
		display: none;
	}
	section.options {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px 0;
		height: 50px;
		z-index: 999;
		transition: height .3s;
	}
	section.options:before {
		width: 100%;
		padding-bottom: 100%;
		left: 0;
		border-radius: 0;
		min-height: calc(100vh - 120px);
	}
	section.options h1 {
		font-size: 22px;
		margin: 0 0 15px;
		text-align: left;
		padding: 0 20px;
		cursor: pointer;
	}
	section.options h1 img {
		display: inline-block;
		width: 20px;
		float: right;
		margin: 8px 0;
		transition: all .3s;
	}
	section.options.open h1 img {
		transform: rotate(.5turn);
	}
	section.options.open {
		height: 100vh;
	}
	section.options.open:before {
		animation: fill_menu linear .3s;
	}
	section.options ul {
		width: 100%;
		margin-bottom: 0;
		max-width: 100%;
		padding: 0 20px;
	}
	section.options ul li {
		width: calc(25% - 30px);
		margin-bottom: 15px;
	}
	section.options input[type="submit"] {
		padding: 20px 50px;
		font-size: 18px;
		width: calc(50% - 50px);
	}
	section.options ul li > input[type="checkbox"] + span {
		background-color: rgba(0,0,0,.1);
	}
}